
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f1d8d8;
    ￼font-size: 14px;
}
h1 {
    font-size: 14px;
    margin: 0;
    font-weight: bolder;
    line-height: 1.4;
    /* background-color: white; */
    /* margin-bottom: 30px; */
    /* max-width: 150px; */
    /* height: 80px; */
}
.container-fluid h4 {
    border: 2px solid;

    background-image: url(/static/fonts/fon2.jpg);
    padding: 10px;
    margin: 0;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    color: white;
}
.navbar {
    padding: 5px 15px;
    margin: 0 auto;
    display: block;
    max-width: 1000px;
    background-color: #330000;
    font-size: 16px;
    color: white;

}
.navbar-default .navbar-nav li a {
    color: white;
}
.container {
    display: block;
    max-width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-md-2 {
    align: middle;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid h4 {
    border: 2px solid;

    background-image: url({{url_for('static', filename='fonts/fon2.jpg')}});
    padding: 10px;
    margin: 0;
}
li.activ {
    font-weight: 800;
    border: 4px solid #1a0000;
    background-color: #660000;
}
#teg {
    padding-bottom: auto;
    border: 5px solid;
}
a {
    color: black;
}
a:hover {
    text-decoration: none;
}
.skazka_list img{
    padding-bottom: 5px;
    max-width: auto;
}
.img .img-rounded {
    padding-bottom: 5px;
}
.jumborton {
    margin-bottom: 5px;
}
.list-group-item {
    background-color: #f1d8d8;
}
.main-navigation img {
    width: 130px;
    height: 130px;
}
.main-navigation {
    margin: 0;
    padding: 20px 20px;
}
.main-navigation button {
    max-width: 140px;
    height: auto;
    word-wrap: break-word;
}
.main-navigation a {
    word-wrap: break-word;
}
.carousel-inner li {
    display: inline;
}
.main-navigation-skazka {
    margin-top: 30px;
}
.btn {
    white-space: normal;
}
#carousel .carousel_slide{
    data-pause: hover;
}
.carousel-control .glyphicon {
    margin-right: -40px;
    margin-left: -40px;
}
.btn {
    vertical-align: top;
}
#skazka-title {
    padding: 0;
    margin-bottom: 30px;
    margin-left: 15px;
    width: 150px;
    height: auto;
}
.pagination .active {
    background-color: #f1d8d8;
}
.search {
    margin-bottom: 10px;
    margin-top: 10px;
}
td .btn {
    background-color: #f1d8d8;
    border-color: #f1d8d8;
    font-size: 28px;
    max-height: auto;
    padding: auto 10px;
},

.table tr {
    display: block;
    max-height: auto;
    max-width: 450px;
}
#image {
    width: 100%;
    max-height: 550px;
    padding-bottom: 10px;
}
p#text {
    display: block;
    max-height: auto;
    max-width: 450px;
    font-size: 16px;
}

.table tbody tr td {
    vertical-align: middle;
}
/* .table tbody tr td .button{ */
    /* vertical-align: middle; */
/* } */
#result img {
    width: 150px;
    height: 150px;
    padding-bottom: 5px;
}
#GoBack {
    background-color:  #f1d8d8;
    padding: 0;
}
.search-skazka {
    margin-top: 10px;
    margin-bottom:10px;
}
p {
    font-size: 16px;
    text-align: justify;
}
